body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar {
    /*background-color: #F3B95F;*/
    /*background-color: #FFF7F1;*/
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    /*position: absolute;*/
    /*top: 0;*/

    position: sticky;
    z-index: 999;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: black;
}
#profile span{
    font-size: 20px;
}

#profilePhoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

#logout {
    background-color: #fff;
    color: #B91216;
    padding: 8px 12px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #B91216;
}
#logout:hover{
    background-color: #B91216;
    color: #fff;
}
#logout:active{
    background-color: #b4373b;
}
@media (max-width: 600px) {
    #navbar{
        flex-direction: column;
    }
}