* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    padding-bottom: 100px;
    overflow:hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    flex-direction: column;
    width: 100%;
}

h2 {
    margin-bottom: 10px;
}

.not-eligible {
    margin-top: 50px;
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    margin-top: 50px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.title {
    text-align: center;
    width: 150px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    color: #fff;
    background-color: #B91216;
}

.title i {
    font-size: 70px;
}

.title p {
    font-size: 24px;
}


input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

select {
    color: #B91216;
    background-color: #ffffff;
    padding: 10px;
}


input[type="checkbox"] {

    color: #B91216;

}

checkbox-group {
    margin-bottom: 16px;

}

input[type="checkbox"] {
    margin-right: 8px;
}

input[type="submit"],
input[value="continue"],
input[value="next"],
input[value="back"] {
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    color: #B91216;
    background-color: rgb(233, 233, 233);
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

input[type="submit"]:hover,
input[value="continue"]:hover,
input[value="continue"]:hover,
input[value="back"]:hover {
    background-color: #B91216;
    color: white;
}

.continue {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}



/* checkbox  */
.checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
    box-sizing: border-box;
}

.checkbox-wrapper-1 [type=checkbox].substituted {
    margin: 0;
    width: 0;
    height: 0;
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-wrapper-1 [type=checkbox].substituted+label:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 1.15em;
    width: 1.15em;
    margin-right: 0.6em;
    color: rgba(0, 0, 0, 0.275);
    border: solid 0.06em;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
    border-radius: 0.2em;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
    background-size: 0;
    will-change: color, border, background, background-size, box-shadow;
    transform: translate3d(0, 0, 0);
    transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
}

.checkbox-wrapper-1 [type=checkbox].substituted:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:enabled+label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
    background-color: #f0f0f0;
}

.checkbox-wrapper-1 [type=checkbox].substituted:checked+label:before {
    background-color: #B91216;
    background-size: 0.75em;
    color: rgba(0, 0, 0, 0.075);
}

.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled+label:active:before {
    background-color: #B91216;
    color: rgba(0, 0, 0, 0.275);
}

.checkbox-wrapper-1 [type=checkbox].substituted:focus+label:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(255, 68, 68, 0.55), 0 0 0 5px rgba(255, 65, 65, 0.3);
}

.checkbox-wrapper-1 [type=checkbox].substituted:focus:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:focus+label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(255, 65, 65, 0.55), 0 0 0 5px rgba(255, 65, 65, 0.3);
}

.checkbox-wrapper-1 [type=checkbox].substituted:disabled+label:before {
    opacity: 0.5;
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark+label:before {
    color: rgba(255, 255, 255, 0.275);
    background-color: #222;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled+label:active:before {
    background-color: #444;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked+label:before {
    background-color: #a97035;
    color: rgba(255, 255, 255, 0.075);
}

.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled:active+label:before,
.checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled+label:active:before {
    background-color: #c68035;
    color: rgba(0, 0, 0, 0.275);
}

/* BOXX */

.box select {
    background-color: #B91216;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    outline: none;
}
.box::before {
    content: "\f13a";
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}


/* DATe and TIMe */

input[type="date"],
input[type="time"] {
    appearance: none;
    -moz-appearance: textfield;
    padding-right: 30px;
    /* add space for the dropdown arrow */
}

.container {
    background-color: #fff;
    border-radius: 8px;
    padding: 4rem 20px 20px;

}
.not-eligible{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

 .form-group {
    margin-bottom: 20px;
}

#donate-second label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#donate-second input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.fill-survey{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.fill-survey button{
    width: 130px;
    height: 40px;
    padding: 5px;
    border: none;
    background: #B91216;
    color: white;
    font-size: 15px;
}

.fill-survey button:hover{
    opacity: 90%;
}
.fill-survey button:active{
    opacity: 100%;
}