body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar {
    /*background-color: #F3B95F;*/
    /* background-color: #FFF5E0; */
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

    transition: 0.5s linear ease-in-out;

    /*position: absolute;*/
    position: sticky;
    z-index: 999;
    /*top: 0;*/
}

#logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: black;
}
#profile span{
    font-size: 16px;
}

#profilePhoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


#logout {
    background-color: #fff;
    color: #B91216;
    padding: 8px 12px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #B91216;
}
#logout:hover{
    background-color: #B91216;
    color: #fff;
}
#logout:active{
    background-color: #b4373b;
}
.fa-bars{
    display: none;
}
#navbarIcon{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 600px) {
    #navbar{
        flex-direction: column;
    }
    #profile{
        /* display: none; */
    gap: 5px;
    }
    #profile img{
       width: 30px;
       height: 30px;
    }
    #profile span{
        font-size: 14px;
    }
    #profile button{
        width: 60px;
        height: 35px;
    }
    #logo{
        width: 20px;
    }
    .fa-bars{
        display: inline-block;
        color: black;
        font-size: 25px;
        cursor: pointer;
    }
}